body {
  background: #12121a;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}

form {
  max-width: 600px;
  margin: auto;
  background: #1f1f2e;
  padding: 20px;
  border-radius: 10px;
}

input, textarea, button {
  width: 100%;
  margin: 8px 0;
  padding: 8px;
}

textarea {
  height: 80px;
}

button {
  background: gold;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.stats label {
  display: block;
  font-size: 14px;
}

#characterList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.card {
  background: #25253a;
  border-radius: 10px;
  padding: 15px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.bar {
  background: #333;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 6px;
}


#imagePreview img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-top: 10px;
}

#removeImage {
  margin-top: 8px;
  background: #ff4d4d;
  color: white;
  border: none;
  padding: 6px;
  cursor: pointer;
  border-radius: 4px;
}


.fill {
  background: #4caf50;
  height: 100%;
}
