body{
  background-color: light blue;
  display: center;
}


#mybtn{
align-items: center;
background: yellow;
}



#modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;                 /* hidden by default */
  align-items: center;
  justify-content: center;
}

/* Circle modal */
#circleModal {
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 50%;            /* THIS makes it a circle */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Close button */
#closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background: none;
  font-size: 18px;
  cursor: pointer;
}
